* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #FFF;
}
body {
  background-color: #333;
}
.header {
  text-align: center;
  width: 100%;
  padding: 1em;
}
.cont-title {
  font-size: 2em;
  transition: transform .8s ease-in-out;
}
.cont-title:hover {
  transform: scale(1.1);
}
.nav {
  background-color: #333;
  padding: .5em;
  width: 100%;
  position: sticky;
  top: 0;
  margin: auto;
  text-align: center;
  margin: auto;
}
.nav ul {
  display: flex;
  justify-content: space-evenly;
}
.nav li {
  background-color: #888;
  padding: .5em;
  border-radius: 10px;
  transition: background-color .5s;
}
.nav li:hover {
  background-color: black;
}
section {
  margin-top: 1em;
  padding: 1em;
  background-color: #555;
}
.presentacion p {
  padding-top: .5em;
}
.lenguaje {
  margin: 1em;
  padding: 1em;
  width: 150px;
}
.footer {
  text-align: center;
  padding: 1em;
}